@font-face {
  font-family: 'typefont';
  src: url('../fonts/typeFont.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'titlefont';
  src: url('../fonts/Header.ttf');
  font-weight: 400;
}
body {
  font-family: 'typefont', 'Helvetica', 'Arial', 'sans-serif';
}
.action {
  cursor: pointer;
}
.header {
  background-color: #614471;
}
.header h2 {
  line-height: 20px;
  padding: 10px;
  margin: 0;
}
.generic-container-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
}
.generic-container-overlay:hover {
  background-color: #d2d2d2;
  opacity: .1;
}
.is-broadcaster .viewer {
  width: calc(100% - 170px);
}
.stream-title {
  height: 65px;
  line-height: 65px;
  padding: 0px 10px;
  font-weight: bold;
}
.viewer {
  position: relative;
  height: calc(100% - 65px);
}
.generic-container {
  margin: 0 auto;
  padding: 10px 30px;
  height: 100%;
}
.generic-container video:not(:only-of-type) {
  width: 50%;
  height: 45%;
  top: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  border-radius: 5px;
}
.generic-container video:first-child {
  right: 0;
}
.generic-container iframe,
.generic-container video:only-of-type {
  width: 100%;
  height: 100%;
}
.generic-container img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 100%;
  max-width: 50%;
}
.title-text {
  text-align: center;
  color: white;
  font-size: 23px;
  font-weight: bold;
  font-family: 'titlefont';
}
.footer-container {
  width: calc(170px * 0.8);
  height: 100px;
  margin: 5px auto;
  display: block;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  background-size: 100%;
  color: white;
  background-color: white;
}
.add-media {
  margin: 0 auto;
  vertical-align: middle;
}
.add-icon {
  background-image: url('fonts/plus-sign.svg');
  height: 30px;
  width: 30px;
  display: block;
  border-radius: 30px;
  border: 2px solid #d2d2d2;
}
.footer {
  border: 1px solid #EEEBEB;
  background-color: #EEEBEB;
  right: 0;
  height: 100%;
  width: 170px;
  bottom: 0;
  position: absolute;
  overflow: auto;
}
.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
}
.url-input {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.app-container {
  height: calc(100% - 2 * 10px - 20px);
}
.app-container .main-container {
  height: 100%;
  position: relative;
}
.small-header {
  font-size: 10px;
  font-weight: bold;
  color: black;
}
.content-table {
  width: 100%;
  margin-top: 5px;
}
.content-table .round {
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: #D2D2D2;
  border: 1px solid #D2D2D2;
  margin: 0 3px;
  border-radius: 30px;
  background-size: 75%;
}
.youtube {
  background-image: url('fonts/youtube.png');
}
.vine {
  background-image: url('fonts/vine.png');
}
.picture {
  background-image: url('fonts/picture.png');
}
.imgur {
  background-image: url('fonts/imgur.jpg');
}
.vimeo {
  background-image: url('fonts/vimeo.png');
}
.modal-content {
  min-width: 300px;
}
.modal-content input {
  width: 100%;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  min-width: 300px;
  min-height: 400px;
  overflow: hidden;
}
