@font-face {
  font-family: 'typefont';
  src: url('../fonts/typeFont.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'titlefont';
  src: url('../fonts/Header.ttf');
  font-weight: 400;
}
body {
  font-family: 'typefont', 'Helvetica', 'Arial', 'sans-serif';
}
.vid-container {
  margin: 0 auto;
  height: 400px;
}
.vid-container #frame-video {
  height: 100%;
  width: 100%;
}
#video-container.vid-container video {
  height: 100%;
  width: 100%;
}
.title-text {
  text-align: center;
  color: #614471;
  font-size: 28px;
  font-family: 'titlefont';
}
