<div class="main-container" ng-class="{'is-broadcaster': isBroadcaster}">
  <div class="stream-title-container">
    <div class="title-padding">
      <div class="profile-image">
        <img src="{{user.image}}"/>
      </div>
      <div class="profile-text">
        <h2>
          {{channel || 'Elephant'}} Stream
        </h2>
        <h4>
          With <a class="link action">{{user.name || 'Caesarofthesky'}}</a>
        </h4>
      </div>
      <div class="recorder-container">
        <span class="cancel-viewer action" ng-if="viewing" ng-click="cancelViewer()">Return to Streaming</span>
        <span class="cancel-viewer action" ng-if="!viewing && !recording" ng-click="recordStream()">Begin Recording</span>
        <span class="cancel-viewer action" ng-if="!viewing && recording" ng-click="stopRecording()">Stop Recording</span>
      </div>
    </div>
  </div>
  <viewer connection="connection" socket="socket"></viewer>
  <persist ng-if="!isBroadcaster"></persist>
  <additional-info socket="socket" janus="janus"></additional-info>
  <!-- <chat socket="socket"></chat> -->
  <footer ng-if="isBroadcaster" socket="socket" connection="connection"></footer>
</div>
