<div class="footer">
  <div class="footer-container action" ng-click="media.toggle()" ng-repeat="media in mediaForms">
    <div>{{media.url}}</div>
  </div>
  <div class="footer-container">
    <div ng-if="!add" ng-click="toggleAdd()" class="add-media action"><i class="icon add-icon"></i></div>
    <form ng-if="add">
      <input class="url-input" ng-model="url" type="text">
      <button ng-click="addMedia(url, 'toggleVideo'); toggleAdd()" type="submit">youtube</button>
      <button ng-click="addMedia(url, 'toggleImage'); toggleAdd()" type="submit">img</button>
    </form>
  </div>
</div>
