<div class="footer">
  <div class="footer-container">
    <span class="small-header">Add Queue Content</span>
    <table class="content-table">
      <tr>
        <td>
          <span ng-click="open('Youtube', 'toggleVideo')" class="round youtube icon"></span>
        </td>
        <td>
          <span ng-click="open('Image', 'toggleImage')" class="round picture icon"></span>
        </td>
        <td>
          <span ng-click="open('Gif', 'toggleGif')" class="round imgur icon"></span>
        </td>
      </tr>
    </table>
  </div>
  <div ng-style="{'background-image':'url({{media.thumbnailUrl}})'}" class="footer-container action" ng-click="media.toggle()" ng-repeat="media in mediaForms">
    <div class="remove-additional" ng-click="remove($index)">x</div>
    <div class="additional-title">{{media.title}}</div>
  </div>
</div>
