<div>
  <div class="react-overlay">
    <table>
      <tr>
        <td>
          <div class="reaction-container action">
            <div class="icon round love"></div><div class="reaction-count">15</div>
          </div>
        </td>
        <td>
          <div ng-click="" class="reaction-container action">
            <div class="icon round smirk"></div><div class="reaction-count">22</div>
          </div>
        </td>
        <td>
          <div class="reaction-container action" ng-click="add()">
            <div class="icon round scream"></div><div class="reaction-count">{{number}}</div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
