<div>
  <div class="react-overlay">
    <table>
      <tr>
        <td>
          <div class="reaction-container action" ng-click="add('1')">
            <div class="icon round love"></div><div class="reaction-count">{{number1}}</div>
          </div>
        </td>
        <td>
          <div ng-click="" class="reaction-container action" ng-click="add('2')">
            <div class="icon round smirk"></div><div class="reaction-count">{{number2}}</div>
          </div>
        </td>
        <td>
          <div class="reaction-container action" ng-click="add('3')">
            <div class="icon round scream"></div><div class="reaction-count">{{number3}}</div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
