<div class="viewer">
  <div ng-if="overlay" ng-click="toggleDisplay()" class="generic-container-overlay" id="controller-container"></div>
  <main-stream ng-show="displayContent.video" set-id="MAIN_STREAM_ID" socket="socket" on-toggle="toggleDisplay('video', 'attachStream', toggleOn)"></main-stream>
  <video-frame ng-show="displayContent.iframe" set-id="" socket="socket" on-toggle="toggleDisplay('iframe', 'toggleVideo', toggleOn)"></video-frame>
  <image-frame ng-show="displayContent.image" set-id="" socket="socket" on-toggle="toggleDisplay('image', 'toggleImage', toggleOn)"></image-frame>
  <gifv-frame ng-show="displayContent.imgur" set-id="" socket="socket" on-toggle="toggleDisplay('imgur', 'toggleGif', toggleOn)"></gifv-frame>
  <div ng-if="rtcUnavailable">RTC unavailable</div>
</div>
