@import 'common.less';
@import 'broadcast.less';
@import 'footer.less';
@import 'chat.less';

@min-width: 800px;
@min-height: 400px;

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  min-width: @min-width;
  min-height: @min-height;
  overflow-y: auto;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}
