@import 'common.less';
@import 'broadcast.less';
@import 'footer.less';

@min-width: 650px;
@min-height: 400px;

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  min-width: @min-width;
  min-height: @min-height;
  overflow: hidden;
}
