@footer-width: 170px;
@generic-height: 100%;
@header-padding: 10px;
@header-height: 20px;
@header-total-height: calc(2 ~"*" @header-padding ~"+" @header-height);
@viewer-height: calc(100% ~"-" @footer-width);
@light-gray: #D2D2D2;

.header {
  background-color: @purple;
  h2 {
    line-height: @header-height;
    padding: @header-padding;
    margin: 0;
  }
}
.generic-container-overlay {
  height: @generic-height;
  width: 100%;
  position: absolute;
  z-index: 100;
  &:hover {
    background-color: @light-gray;
    opacity: .1;
  }
}
.is-broadcaster {
  .viewer {
    width: @viewer-height;
  }
}
@title-height: 65px;
.stream-title {
  height: @title-height;
  line-height: @title-height;
  padding: 0px 10px;
  font-weight: bold;
}
.viewer {
  position: relative;
  height: calc(100% ~"-" @title-height);
}

.generic-container {
  @side-padding: 30px;
  margin: 0 auto;
  padding: 10px @side-padding;
  height: @generic-height;
  video:not(:only-of-type) {
    width: calc(50% ~"-" @side-padding ~"-" 5px);
    max-height: 80%;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    border-radius: 5px;
  }
  video:first-child {
    right: @side-padding;
  }
  iframe, video:only-of-type {
    width: 100%;
    height: 100%;
  }
  img {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 100%;
    max-width: 50%;
  }
}

.title-text {
  text-align: center;
  color: white;
  font-size: 23px;
  font-weight: bold;
  font-family: 'titlefont';
}
.footer-container {
  width: calc(@footer-width ~"*" 0.8);
  height: 100px;
  margin: 5px auto;
  display: block;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid @light-gray;
  border-radius: 5px;
  background-size: 100%;
  color: white;
  background-color: white;
}
.add-media {
  margin: 0 auto;
  vertical-align: middle;
}
.add-icon {
  @icon-size: 30px;
  background-image: url('fonts/plus-sign.svg');
  height: @icon-size;
  width: @icon-size;
  display: block;
  border-radius: @icon-size;
  border: 2px solid @light-gray;
}
.footer {
  border: 1px solid #EEEBEB;
  background-color: #EEEBEB;
  right: 0;
  height: 100%;
  width: @footer-width;
  bottom: 0;
  position: absolute;
  overflow: auto;
}
.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
}
.url-input {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.app-container {
  height: calc(100% ~"-" 2 ~"*" @header-padding ~"-" @header-height);
  .main-container {
    height: 100%;
    position: relative;
  }
}
.small-header {
  font-size: 10px;
  font-weight: bold;
  color: black;
}
.content-table {
  width: 100%;
  margin-top: 5px;
  .round {
    @diameter: 30px;
    cursor: pointer;
    display: inline-block;
    height: @diameter;
    width: @diameter;
    background-color: #D2D2D2;
    border: 1px solid #D2D2D2;
    margin: 0 3px;
    border-radius: @diameter;
    background-size: 75%;
  }
}
.youtube {
  background-image: url('fonts/youtube.png');
}
.vine {
  background-image: url('fonts/vine.png');
}
.picture {
  background-image: url('fonts/picture.png');
}
.imgur {
  background-image: url('fonts/imgur.jpg');
}
.vimeo {
  background-image: url('fonts/vimeo.png');
}
.modal-content {
  min-width: @min-width;
  input {
    width: 100%;
  }
}
