@footer-height: 120px;
@generic-height: 100%;
@header-padding: 20px;
@header-height: 30px;
@header-total-height: calc(2 ~"*" @header-padding ~"+" @header-height);
@viewer-height: calc(100% ~"-" @footer-height ~"-" @header-total-height);

.header {
  h2 {
    line-height: @header-height;
    padding: @header-padding;
    margin: 0;
  }
}
.generic-container-overlay {
  height: @generic-height;
  width: 100%;
  position: absolute;
  z-index: 100;
  &:hover {
    background-color: gray;
    opacity: .1;
  }
}
.viewer {
  height: @viewer-height;
}
.generic-container {
  margin: 0 auto;
  height: @generic-height;
  #frame-video {
    height: 100%;
    width: 100%;
  }
}
#video-container.generic-container {
  video {
    height: 100%;
    width: 100%;
  }
}
.title-text {
  text-align: center;
  color: @purple;
  font-size: 28px;
  font-family: 'titlefont';
}
.footer-container {
  height: calc(@footer-height ~"/" 1.5);
  width: @footer-height;
  margin: calc(@footer-height ~"/" 6) 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}
.add-media {
  margin: 0 auto;
  vertical-align: middle;
}
.add-icon {
  @icon-size: 30px;
  background-image: url('fonts/plus-sign.svg');
  height: @icon-size;
  width: @icon-size;
  display: block;
  border-radius: @icon-size;
  border: 2px solid gray;
}
.footer {
  border: 1px solid @purple;
  height: @footer-height;
  width: 100%;
  bottom: 0;
  position: absolute;
}
.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.url-input {
  display: block;
  margin: 0 auto;
}

.app-container {
  height: 100%;
  .main-container {
    height: 100%;
  }
}
